:root{
  --primary:red;
  --secondary:yellow;
  --dark: grey;
  --light: lightgrey;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Courier New', Courier, monospace;
}
body{
background-color: var --light;
}
.App{
  display:flex;
min-height:100vh;
align-items: center;
justify-content:center;
}
.Calculator{
  width:100%;
  max-width: 400px;
  background-color: var(--secondary);
  overflow: auto;
  border-radius: 20px;
  box-shadow: inset;
}